
  <!-- Sidebar -->
  <nav id="sidebarMenu" class=" d-lg-block sidebar bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-3 ripple" aria-current="true">
          <i-bs name="box"></i-bs>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i-bs name="bar-chart"></i-bs>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i-bs name="plus-square" class="active"></i-bs>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i-bs name="check-lg"></i-bs>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i-bs name="gear"></i-bs>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i-bs name="download"></i-bs>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
