
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <app-left-nav></app-left-nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <app-header></app-header>

  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
  <div class="row">
    <div class="container layout1 pt-4">
      <app-recent-order></app-recent-order>
    </div>
    <div class="container layout2 pt-4">
      <app-user-reg></app-user-reg>
    </div>
  </div>

  <div class="row">
    <div class="container pt-4">
      <div class="card">
        <h5 class="card-title mt-4">User Registration</h5>
        <div class="card-body">
          <app-sales></app-sales>
        </div>
      </div>
    </div>
    <div class="container pt-4">
      <div class="card">
        <h5 class="card-title mt-4">User Registration</h5>
        <div class="card-body">
          <app-sales></app-sales>
        </div>
    </div>
    </div>
    <div class="container pt-4">
      <div class="card">
        <h5 class="card-title mt-4">User Registration</h5>
        <div class="card-body">
          <app-sales></app-sales>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Main layout-->
