.layout1{
    display: inline-block;
    width: 65%;
    height: 400px;
    overflow: auto;
    padding-left: 117px
}
.layout2{
    display: inline-block;
    width: 30%;
    height: 400px;
    overflow: auto;
}