<div class="card">
    <h5 class="card-title mt-4">Recent Orders</h5>
    <div class="card-body">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Products</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Status</th>
                <th scope="col">Tracking No#</th>
                <th scope="col">Shipping</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderList; index as i">
                <th >{{i}}</th>
                <td>{{item.name}}</td>
                <td>{{item.product}}</td>
                <td>{{item.delivery_date | date:"mediumDate"}}</td>
                <td>{{item.status}}</td>
                <td>{{item.tracking_no}}</td>
                <td>{{item.shipping}}</td>
                <td>22</td>
              </tr>
              
            </tbody>
          </table>
    </div>
  </div>